node_modules/
.env
dist/
*.log
.DS_Store
coverage/
.local-mailbox/
dhis2-pt-8478a1bcd03b.json
booming-argon-508911-j2-f3f87cebf8dd.json
client_secret_63552246089-pr21jcn9rap1a7eal09g9seajtmaeva3.apps.googleusercontent.com.json